@model EventEase.Models.Booking
@{
    ViewData["Title"] = "Delete Booking";
}

<h1>Delete Booking</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="delete-warning">
            <div class="delete-warning-title">This action cannot be undone.</div>
            <dl class="row">
                <dt class="col-sm-4">Event</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Event.EventName)</dd>
                <dt class="col-sm-4">Venue</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Venue.Location)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BookingStartDate)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.BookingStartDate)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BookingEndDate)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.BookingEndDate)</dd>
            </dl>
        </div>
        <form asp-action="Delete" class="d-flex gap-2">
            <input type="hidden" asp-for="BookingID" />
            <input type="submit" value="Yes, Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>