@model EventEase.Models.Booking
@{
    ViewData["Title"] = "Booking Details";
}

<h1>Booking Details</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-card">
            <dl class="row">
                <dt class="col-sm-4">Event</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Event.EventName)</dd>
                <dt class="col-sm-4">Venue</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Venue.Location)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BookingStartDate)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.BookingStartDate)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BookingEndDate)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.BookingEndDate)</dd>
            </dl>
        </div>
        <div class="mt-3 d-flex gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.BookingID" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">← Back</a>
        </div>
    </div>
</div>