@model IEnumerable<EventEase.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
