@model EventEase.Models.Event
@{
    ViewData["Title"] = "Delete Event";
}

<h1>Delete Event</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="delete-warning">
            <div class="delete-warning-title">⚠ This action cannot be undone.</div>
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EventName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EventName)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EventStartDate)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EventStartDate)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EventDescription)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EventDescription)</dd>
            </dl>
        </div>
        <form asp-action="Delete" class="d-flex gap-2">
            <input type="hidden" asp-for="EventID" />
            <input type="submit" value="Yes, Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>